{% ckan_extends %}

{% set pkg_title = c.pkg_dict.title %}
{% set pkg_url = h.full_current_url() %}
{% set user = c.userobj %}
{% set organization  = c.pkg_dict.owner_org %}
{% set slack_user = h.get_slack_user_data(user.id + "." + organization) or {} %}


{% block social_nav %}
    {{ super() }}
    <script>
        function slackEditWindow(){
            var slack_user_token = "{{ slack_user.token }}"
            sessionStorage.setItem("slack_user_token", slack_user_token)

            var slackWindow = window.open("/frontdoor/wut.html", "", "width=600, height=400")
        }
    </script>
    <ul class="nav nav-simple">
        <li class="nav-item" onclick="slackEditWindow()"><a class="slack" id="slack-button" href="#"><i class="fa fa-slack" aria-hidden="true">
        </i> Slack</a></li>
    </ul>
{% endblock %}
