{% ckan_extends %}

{% set pkg_title = c.pkg_dict.title %}
{% set pkg_url = h.full_current_url() %}
{% set user = c.userobj %}
{% set organization  = c.pkg_dict.owner_org %}
{% set slack_user = h.get_slack_user_data(user.id + "." + organization) or {} %}
{% set config = h.get_slack_config() %}


{% block social_nav %}
    {{ super() }}
    <script>
        function slackEditWindow(){
            var slack_user_token = "{{ slack_user.token }}"
            sessionStorage.setItem("slack_user_token", "{{ config['ckan.slackbot_token'] }}")
            sessionStorage.setItem("slack_bot_id", "{{ config['ckan.slackbot_id'] }}")
            sessionStorage.setItem("pkg_title", "{{ pkg_title }}")
            sessionStorage.setItem("pkg_url", "{{ pkg_url }}")

            var slackWindow = window.open("/frontdoor/slack_post.html", "", "width=600, height=300, scrollbars=0")
        }
    </script>
    <ul class="nav nav-simple">
        <li class="nav-item" onclick="slackEditWindow()"><a class="slack" id="slack-button" href="#"><i class="fa fa-slack" aria-hidden="true">
        </i> Slack</a></li>
    </ul>
{% endblock %}
