#slackMessage{
    margin-left: 20px;
    width: 75%;
}



#postButton{
    margin-left: 20px;
}



#private{
    margin-left: 20px;
}
#public{
    margin-left: 20px;
}
#slackNotes{
    margin-left: 20px;
}